 .head{
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
 }
 .page{
 min-height: 100vh;
    background: linear-gradient(to right, #000000, #000000);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main{
    background-color: #000000;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

body{
    background-color: black;
}

.add{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.admin{
    flex: 1 1 240px;
    background-color: #8f8a8a;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);

}
.user{
    flex: 1 1 240px;
    background-color: #8f8a8a;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
} 


  
 
  
  
 
  
  
  
  